*{
    /* this is a universal selector which can be applied to all */
    margin: 0;
    padding: 0;
}
/* now element selector */
h1{
    color: aqua;
}
p{
    color: orange;
}
/* class selector */
.para{
    color: blue;
}
.extra{
    font-size:20px;
    /* we can also write two and more class symontanously */
}
/* ID Selector */
#id1 {
    color: saddlebrown;
}
/* selector list */
.class1 , .class2 , .class3{

}
/* descendent selector */
main p{
    color: aquamarine;
}
/* child selector */
h1 > p{

}
/* adjecent sibling */
section+p{
  color: brown;
}
/* general sibling selector */
section~p{
    color: brown;
  }